@charset "UTF-8";
/* Общая часть для всех блоков */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.container {
  /* desktop */
  margin: 0 auto;
  width: 1140px;
  /* tablet */
  /* phone */
}

@media (max-width: 1180px) {
  .container {
    width: 736px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 360px;
  }
}

.hidden {
  width: 1px;
  height: 1px;
  position: absolute;
  left: -99999px;
  margin: -1px;
}

/* Главная страница сайта */
/* Шапка и меню сайта */
/* Шапка и меню сайта */
.header {
  background-color: #222222;
  height: 75px;
  position: relative;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
}

@media (max-width: 1180px) {
  .header-nav {
    padding: 18px 16px;
  }
}

@media (max-width: 768px) {
  .header-nav {
    padding: 18px 8px;
  }
}

/* Левая часть меню сайта */
.header-col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 111px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand_ico {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.brand_ico:hover {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.header_icon_svg {
  fill: #e8e8e8;
  -webkit-transition-property: fill, -webkit-transform;
  transition-property: fill, -webkit-transform;
  transition-property: fill, transform;
  transition-property: fill, transform, -webkit-transform;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.header_icon_svg:hover {
  fill: #f16d7f;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* Правая часть меню сайта */
.header-col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 168px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header-col-2 {
    -webkit-box-pack: right;
        -ms-flex-pack: right;
            justify-content: right;
  }
}

.sandwich_drop {
  display: block;
}

.sandwich_list_wrap {
  position: absolute;
  z-index: 10;
  width: 232px;
  height: 764px;
  top: 75px;
  right: 0px;
  background: #ffffff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 16px 17px 16px 0;
}

.sandwich_list_wrap_close {
  display: none;
}

.sandwich_close {
  text-align: end;
}

.button_close {
  background: #ffffff;
  border: none;
}

.sandwich_list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sandwich_list_header {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 9px 0 4px 34px;
}

.sandwich_list_button {
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  background: #ffffff;
  border: none;
  cursor: pointer;
  padding: 20px 0 12px 33px;
}

.sandwich_list_link_wrap {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
}

.sandwich_list_link {
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  text-decoration: none;
  padding-left: 54px;
}

@media (max-width: 768px) {
  .registracion_wrap {
    display: none;
  }
}

@media (max-width: 768px) {
  .cart_wrap {
    display: none;
  }
}

.cart {
  position: relative;
  margin-right: 10px;
}

.cart_number {
  position: absolute;
  top: -23px;
  right: -10px;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
  background-color: #f16d7f;
}

/* Промо-блок главной страницы */
/* Промо-блок главной страницы */
.promo {
  height: 764px;
  background-color: #f1e4e6;
}

@media (max-width: 1180px) {
  .promo {
    height: 368px;
  }
}

.promo_img {
  background-image: url("../img/section-promo/promo_img.png");
  height: 764px;
  margin-left: -225px;
  background-repeat: no-repeat;
}

@media (max-width: 1180px) {
  .promo_img {
    height: 368px;
    margin-left: 0px;
    background-size: contain;
  }
}

@media (max-width: 768px) {
  .promo_img {
    background-image: none;
    height: 363px;
    margin-left: 0px;
    background-size: contain;
  }
}

.promo_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 768px) {
  .promo_wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 148px 0;
  }
}

.promo_name {
  margin: 290px 101px 0 0;
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
}

.promo_name_bold {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
}

.promo_name_pink {
  color: #f16d7f;
}

@media (max-width: 1180px) {
  .promo_name {
    margin: 138px 16px 0 0;
    font-size: 24px;
    line-height: 29px;
  }
  .promo_name_bold {
    font-size: 44px;
    line-height: 53px;
  }
}

@media (max-width: 768px) {
  .promo_name {
    margin: 0;
    font-size: 20px;
    line-height: 24px;
  }
  .promo_name_bold {
    font-size: 38px;
    line-height: 46px;
  }
}

/* Раздел Категорий товаров */
/* Раздел Категорий товаров */
.categories {
  background-color: #fff;
}

.categories_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 65px 0 96px;
  gap: 30px;
}

@media (max-width: 1180px) {
  .categories_product {
    padding: 20px 0 155px;
    gap: 20px;
  }
}

@media (max-width: 768px) {
  .categories_product {
    padding: 64px 0;
    gap: 32px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.cat-women {
  background-color: grey;
  background-image: url("../img/section-categories/cat-women.jpg");
  width: 360px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1180px) {
  .cat-women {
    width: 232px;
    height: 168px;
  }
}

@media (max-width: 768px) {
  .cat-women {
    width: 343px;
    height: 247px;
  }
}

.cat-men {
  background-color: grey;
  background-image: url("../img/section-categories/cat-men.jpg");
  width: 360px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1180px) {
  .cat-men {
    width: 232px;
    height: 168px;
  }
}

@media (max-width: 768px) {
  .cat-men {
    width: 343px;
    height: 247px;
  }
}

.cat-kids {
  background-color: grey;
  background-image: url("../img/section-categories/cat-kids.jpg");
  width: 360px;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1180px) {
  .cat-kids {
    width: 232px;
    height: 168px;
  }
}

@media (max-width: 768px) {
  .cat-kids {
    width: 343px;
    height: 247px;
  }
}

.cat-ACCESORIES {
  background-color: grey;
  background-image: url("../img/section-categories/cat-ACCESORIES.jpg");
  width: 1140px;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1180px) {
  .cat-ACCESORIES {
    width: 735px;
    height: 116px;
  }
}

@media (max-width: 768px) {
  .cat-ACCESORIES {
    width: 343px;
    height: 111px;
  }
}

.cat_text {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #f16d7f;
}

.subtitle_cat_text {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

/* Раздел Каталога товаров_Главная */
/* Раздел Каталога товаров_Главная */
.products {
  background-color: #fff;
}

.products_header_wrap {
  padding: 0 0 48px 0;
}

@media (max-width: 1180px) {
  .products_header_wrap {
    padding: 0 0 74px;
  }
}

@media (max-width: 768px) {
  .products_header_wrap {
    padding: 0 0 65px;
  }
}

.h2_fetured_items {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-align: center;
}

.p_fetured_items {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  text-align: center;
  margin-top: 6px;
}

@media (max-width: 1180px) {
  .p_fetured_items {
    margin-top: 3px;
  }
}

.fetured_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

@media (max-width: 1180px) {
  .fetured_items {
    gap: 16px;
  }
}

.card {
  width: 360px;
  background-color: #f8f8f8;
  list-style-type: none;
  position: relative;
}

.products_overlay {
  position: absolute;
  background: rgba(58, 56, 56, 0.86);
  width: 360px;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card:hover .products_overlay {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn_add {
  background-color: transparent;
  padding: 11px 16px 8px 13px;
  border: 1px solid #ffffff;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.btn_add_img {
  vertical-align: middle;
  padding-right: 11px;
}

.btn_add:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.feture_item1 {
  background-color: #ccc8c5;
  background-image: url("../img/section-products/items-1.jpg");
  width: 360px;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feture_item2 {
  background-color: thistle;
  /* background-image: url("../img/section-products/items-2.jpg"); */
  width: 360px;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feture_item3 {
  background-color: #ccc8c5;
  background-image: url("../img/section-products/items-3.jpg");
  width: 360px;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feture_item4 {
  background-color: thistle;
  background-image: url("../img/section-products/items-4.jpg");
  width: 360px;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feture_item5 {
  background-color: thistle;
  background-image: url("../img/section-products/items-5.jpg");
  width: 360px;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feture_item6 {
  background-color: thistle;
  background-image: url("../img/section-products/items-6.jpg");
  width: 360px;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.name_feture_item {
  padding-left: 18px;
  padding-top: 24px;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.description_feture_item {
  padding-left: 18px;
  padding-right: 29px;
  padding-top: 13px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}

.price_fetured_item {
  padding-left: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 0 95px;
}

@media (max-width: 1180px) {
  .button-wrapper {
    padding: 33px 0 65px;
  }
}

@media (max-width: 768px) {
  .button-wrapper {
    padding: 41px 0 96px;
  }
}

.all_product {
  border: 1px solid #ff6a6a;
  padding: 14px 38px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #f26376;
  text-decoration: none;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.all_product:hover {
  background-color: #f16d7f;
  color: #ffffff;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

/* Раздел сайта Особенности и Разное */
/* Раздел сайта Особенности и Разное */
.features {
  background-color: #222224;
}

.categories_features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 103px 0 104px;
  gap: 30px;
}

@media (max-width: 1180px) {
  .categories_features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 48px 0 64px;
    gap: 48px;
  }
}

@media (max-width: 768px) {
  .categories_features {
    padding: 48px 0 81px;
  }
}

.feature_item {
  width: 360px;
}

.categories_features_img {
  height: 40px;
  margin-bottom: 19px;
  text-align: center;
}

.h3_features {
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  text-align: center;
  color: #fbfbfb;
}

.p_features {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #fbfbfb;
}

/* Раздел сайта обратная связь */
/* Раздел сайта обратная связь */
.feedback {
  background-color: #fff;
  background-image: url("../img/section-feedback/subscribe-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.communication {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 327px;
  padding: 97px 0px 156px;
}

@media (max-width: 1180px) {
  .communication {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 48px;
    padding: 64px 0 140px;
  }
}

@media (max-width: 768px) {
  .communication {
    gap: 59px;
    padding: 64px 10px 110px;
  }
}

.foto_communication {
  width: 360px;
  text-align: center;
}

.p_communication {
  padding-top: 30px;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
}

.subscribe {
  text-align: center;
}

.h3_subscribe {
  font-weight: bold;
  font-size: 24px;
  line-height: 39px;
  color: #222224;
}

@media (max-width: 768px) {
  .h3_subscribe {
    line-height: 37px;
  }
}

.promotion {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

@media (max-width: 768px) {
  .promotion {
    font-size: 14px;
    line-height: 21px;
  }
}

.subscribe_email {
  padding-top: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
}

.wrap_email {
  background-color: #e1e1e1;
  padding: 7px 64px 6px 22px;
  border-radius: 23px 0 0 23px;
}

.email {
  background: #e1e1e1;
  font-weight: normal;
  width: 170px;
  height: 36px;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222224;
  opacity: 0.67;
  border: none;
}

.wrap_button {
  background: #f16d7f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 7px 7px 6px 8px;
  border-radius: 0 23px 23px 0;
  border: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.wrap_button:hover {
  background-color: #e1e1e1;
  color: #4a4a4a;
}

.subscribe_button {
  width: 85px;
  height: 36px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  background-color: #f16d7f;
  border: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.subscribe_button:hover {
  color: #222;
  background-color: #f16d7f;
  border-radius: 0 23px 23px 0;
}

/* Раздел подвал сайта */
/* Раздел подвал сайта */
.footer {
  height: 79px;
  background-color: #222222;
  color: #fff;
}

@media (max-width: 768px) {
  .footer {
    height: 143px;
  }
}

.footer_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 0 23px 5px;
}

@media (max-width: 1180px) {
  .footer_wrap {
    padding: 24px 16px 23px 16px;
  }
}

@media (max-width: 768px) {
  .footer_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 43px 0 9px;
    gap: 40px;
  }
}

.p_footer {
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  gap: 7px;
}

.social_link {
  font-size: 20px;
  background-color: white;
  color: #000000;
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.social_link:hover {
  background-color: #f16d7f;
  color: white;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/* Страница каталога товаров */
/* Раздел Внутренний заголовок_Каталога товаров */
.inner-title {
  background-color: #f8f3f4;
}

.inner_wrap {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .inner_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 32px;
    padding: 24px 0 46px;
  }
}

.inner_header {
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}

.breadcrumb {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumb-item {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
}

.breadcrumb-item :hover {
  color: #f16d7f;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #636363;
}

.breadcrumb-item::after {
  content: " / \00a0";
  color: #636363;
}

.breadcrumb-item:last-child:after {
  content: "";
}

.breadcrumb-item_active {
  font-weight: bold;
  color: #f16d7f;
}

/* Раздел Каталога товаров */
.filter_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 51px 0 64px;
  gap: 30px;
}

@media (max-width: 1180px) {
  .filter_box {
    padding: 24px 0 40px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .filter_box {
    padding: 24px 0 32px;
    gap: 0px;
  }
}

.filter {
  width: 360px;
  position: relative;
}

@media (max-width: 768px) {
  .filter {
    width: auto;
  }
}

.filter_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 11px;
  padding-left: 16px;
  border: none;
  background: #ffffff;
  fill: #000000;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  cursor: pointer;
}

.filter_title:hover {
  fill: #ef5b70;
  color: #ef5b70;
}

@media (max-width: 1180px) {
  .filter_title {
    padding-left: 0px;
  }
}

@media (max-width: 768px) {
  .filter_title {
    gap: 0px;
    padding-left: 0px;
  }
}

@media (max-width: 768px) {
  .filter_title_h3 {
    display: none;
  }
}

.filter_ico {
  height: 10px;
  width: 15px;
}

@media (max-width: 768px) {
  .filter_ico {
    height: 25px;
    width: 37px;
  }
}

.filter[open] {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  z-index: 20;
}

.filter[open] .filter_title {
  fill: #ef5b70;
  color: #ef5b70;
}

.filter[open] .filter_title_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 18px;
  position: absolute;
  z-index: -10;
  width: 360px;
  background-color: #ffffff;
  padding: 16px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.filter_title_name {
  position: relative;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  cursor: pointer;
}

.filter_drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
  background-color: #ffffff;
  border-left: 5px solid #ef5b70;
  border-bottom: 1px solid #ebebeb;
  padding: 11px;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
}

.filter_title_name[open] .filter_drop {
  color: #ef5b70;
}

.filter_title_name[open] .filter_drop_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 11px;
  background-color: #ffffff;
  padding: 24px 0 6px 17px;
}

.filter_button {
  background: #ffffff;
  border: none;
  text-align: left;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  cursor: pointer;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
  color: #6f6e6e;
}

@media (max-width: 768px) {
  .sort {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 24px;
  }
}

.list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border: none;
  background: #ffffff;
}

.list_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  fill: #6f6e6e;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.list_title:hover {
  fill: #ef5b70;
  color: #ef5b70;
}

@media (max-width: 768px) {
  .list_title {
    font-size: 12px;
    line-height: 14px;
    gap: 9px;
  }
}

.list[open] .list_title {
  fill: #070505;
  color: #ef5b70;
}

.list_drop {
  position: absolute;
  left: -9px;
  z-index: 20;
  background: #ffffff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  padding: 7px 30px 11px 9px;
}

.list_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 14px;
  line-height: 16px;
  color: #6f6e6e;
}

.list_checkbox {
  height: 12px;
  width: 12px;
  opacity: 0.4;
}

@media (max-width: 1180px) {
  .close_fetured_item {
    display: none;
  }
}

.pagination_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px 0 96px;
}

@media (max-width: 1180px) {
  .pagination_wrap {
    padding: 40px 0 63px;
  }
}

.pagination_border {
  border: 1px solid #ebebeb;
  border-radius: 5px;
}

.pagination {
  height: 43px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bracket {
  fill: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  background: #ffffff;
  padding: 0 13px;
  border: none;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.bracket:hover {
  fill: #f16d7f;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.page {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #c4c4c4;
  background: #ffffff;
  padding: 0 9px;
  border: none;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.page_active {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
  background: #ffffff;
  padding: 0 9px;
  border: none;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.page:hover {
  color: #f16d7f;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.page_separator {
  margin: 0 -7px;
  color: #c4c4c4;
  z-index: 10;
}

/* Страница Товара */
/* Раздел Слайдер товаров */
.slider {
  background-color: #f7f7f7;
}

.slider_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_button {
  padding: 13px 17px;
  background-color: rgba(42, 42, 42, 0.15);
  border: none;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.slider_button:hover {
  fill: #f16d7f;
}

.img_slider {
  height: 724px;
  padding: 11px 0 42px;
}

@media (max-width: 1180px) {
  .img_slider {
    height: 565px;
    padding: 29px 0;
  }
}

@media (max-width: 768px) {
  .img_slider {
    height: 454px;
    padding: 85px 0;
  }
}

/* Раздел Стоимости и описания товара */
@media (max-width: 1180px) {
  .card_price {
    outline: 1px solid #eaeaea;
  }
}

.wrap_card_price {
  position: relative;
  outline: 1px solid #eaeaea;
  margin: -65px 0 128px;
  padding: 65px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
}

@media (max-width: 1180px) {
  .wrap_card_price {
    margin: 0 0 129px 0;
    outline: none;
  }
}

@media (max-width: 768px) {
  .wrap_card_price {
    margin: 0 0 64px 0;
  }
}

.card_price_name {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #f16d7f;
  padding-bottom: 12px;
}

.streak_red {
  width: 63px;
  border-bottom: 3px solid #ef5b70;
}

.marketing {
  padding: 12px 0 48px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
}

.p_marketing {
  width: 554px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5e5e5e;
}

@media (max-width: 768px) {
  .p_marketing {
    width: 326px;
  }
}

.p_price {
  padding: 32px 0 65px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ef5b70;
}

@media (max-width: 768px) {
  .p_price {
    padding: 32px 0;
  }
}

.streak_grey {
  width: 641px;
  border-bottom: 1px solid #eaeaea;
}

@media (max-width: 768px) {
  .streak_grey {
    width: 175px;
  }
}

.sort_price {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
  padding: 65px 0 49px;
}

@media (max-width: 768px) {
  .sort_price {
    padding: 49px 0 65px;
  }
}

.price_cart {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  background-color: #ffffff;
  border: 1px solid #ff6a6a;
  padding: 14px 56px 14px 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 23px;
  color: #f26376;
  fill: #ef5b70;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.price_cart:hover {
  background-color: #f16d7f;
  color: #ffffff;
  fill: #ffffff;
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

/* Смена карточек товара местами при планшетной версии */
@media (max-width: 1180px) {
  .change {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .change .second {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .change .first {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 768px) {
  .change {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
  }
  .change .first {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .change .third {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 1180px) {
  .close_product_tablet {
    display: none;
  }
}

@media (max-width: 768px) {
  .close_product_tablet {
    display: initial;
  }
}

@media (max-width: 768px) {
  .close_product_phone {
    display: none;
  }
}

/* Сдвиг вниз раздела feedback */
.product {
  margin-top: 128px;
}

@media (max-width: 768px) {
  .product {
    margin-top: 64px;
  }
}

/* Страница Оформления Покупок */
/* Страница Оформления Покупок */
.inner_wrap_cart {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .inner_wrap_cart {
    padding: 50px 0px 69px 92px;
  }
}

.purchases_wrap {
  padding: 96px 0 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1180px) {
  .purchases_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 59px 0 128px;
    gap: 64px;
  }
}

@media (max-width: 768px) {
  .purchases_wrap {
    padding: 39px 0 96px;
    gap: 48px;
  }
}

.purchases_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 72px;
}

@media (max-width: 1180px) {
  .purchases_cards {
    gap: 62px;
  }
}

@media (max-width: 768px) {
  .purchases_cards {
    gap: 30px;
  }
}

.purchases_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.purchases_item {
  width: 652px;
  height: 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ffffff;
  -webkit-filter: drop-shadow(17px 19px 24px rgba(119, 43, 43, 0.13));
          filter: drop-shadow(17px 19px 24px rgba(119, 43, 43, 0.13));
}

@media (max-width: 1180px) {
  .purchases_item {
    width: 734px;
    height: 306px;
  }
}

@media (max-width: 768px) {
  .purchases_item {
    width: 358px;
    height: 188px;
  }
}

.purchases_item_img {
  width: 262px;
  height: 306px;
}

@media (max-width: 768px) {
  .purchases_item_img {
    width: 144px;
    height: 188px;
  }
}

.description_item {
  padding: 22px 57px 62px 31px;
}

@media (max-width: 768px) {
  .description_item {
    padding: 13px 50px 38px 17px;
  }
}

.description_item_name {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  padding-bottom: 42px;
}

@media (max-width: 768px) {
  .description_item_name {
    padding-bottom: 26px;
    font-size: 16px;
    line-height: 19px;
  }
}

.description_item_content {
  font-weight: normal;
  font-size: 22px;
  line-height: 28px;
  color: #575757;
}

.description_item_content .price_300 {
  color: #ef5b70;
}

.description_item_content .quantity_2 {
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  border: 1px solid #eaeaea;
  padding: 1px 16px;
  margin-left: 24px;
}

@media (max-width: 768px) {
  .description_item_content .quantity_2 {
    font-size: 10px;
    line-height: 12px;
    padding: 1px 9px;
    margin-left: 15px;
  }
}

@media (max-width: 768px) {
  .description_item_content {
    font-size: 14px;
    line-height: 17px;
  }
}

.close_icon_wrap {
  fill: #575757;
  border-radius: 0px;
  padding: 28px 22px 0 57px;
}

.close_icon_wrap :hover {
  fill: #ef5b70;
}

@media (max-width: 1180px) {
  .close_icon_wrap {
    padding: 28px 22px 0 137px;
  }
}

@media (max-width: 768px) {
  .close_icon_wrap {
    padding: 17px 12px 0 0px;
  }
}

.close_icon {
  width: 18px;
  height: 18px;
}

@media (max-width: 768px) {
  .close_icon {
    width: 10px;
    height: 10px;
  }
}

.purchases_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1180px) {
  .purchases_button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 48px;
  }
}

@media (max-width: 768px) {
  .purchases_button {
    gap: 9px;
  }
}

.press_button {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding: 17px 40px;
  background: #ffffff;
  border: 1px solid #a4a4a4;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.press_button:hover {
  background: #ef5b70;
  border: 1px solid #f16d7f;
  color: #ffffff;
  -webkit-animation: bounce 0.7s infinite alternate;
          animation: bounce 0.7s infinite alternate;
  /* - Пример анимации*/
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@media (max-width: 768px) {
  .press_button {
    font-size: 12px;
    line-height: 14px;
    padding: 9px 18px;
  }
}

.checkout {
  width: 360px;
}

@media (max-width: 1180px) {
  .checkout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .checkout {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
}

.shipping_adress_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 17px 0 57px;
}

@media (max-width: 1180px) {
  .shipping_adress_wrap {
    padding: 0;
  }
}

.shipping_adress_name {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  padding-bottom: 20px;
}

.shipping_adress {
  width: 360px;
  margin-bottom: 20px;
  padding: 12px 0 12px 17px;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  border: 1px solid #a4a4a4;
}

.shipping_adress::-webkit-input-placeholder {
  color: #222222;
}

.shipping_adress:-ms-input-placeholder {
  color: #222222;
}

.shipping_adress::-ms-input-placeholder {
  color: #222222;
}

.shipping_adress::placeholder {
  color: #222222;
}

.shipping_adress_grey {
  width: 360px;
  margin-bottom: 20px;
  padding: 12px 0 12px 17px;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
  border: 1px solid #a4a4a4;
}

.shipping_adress_grey::-webkit-input-placeholder {
  color: #b1b1b1;
}

.shipping_adress_grey:-ms-input-placeholder {
  color: #b1b1b1;
}

.shipping_adress_grey::-ms-input-placeholder {
  color: #b1b1b1;
}

.shipping_adress_grey::placeholder {
  color: #b1b1b1;
}

.button_getaquote {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  background: #ffffff;
  border: 1px solid #a4a4a4;
  padding: 11px 15px;
  margin-top: 4px;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.button_getaquote:hover {
  background-color: #ef5b70;
  border: 1px solid #f16d7f;
  color: #ffffff;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.checkout_wrap {
  min-width: 360px;
  height: 214px;
  background: #f5f3f3;
}

@media (max-width: 1180px) {
  .checkout_wrap {
    margin-top: 38px;
  }
}

@media (max-width: 768px) {
  .checkout_wrap {
    margin-top: 48px;
  }
}

.total_price_name {
  padding: 39px 34px 21px 0px;
}

.sub_total {
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 25px;
}

.grand_total {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 25px;
  padding: 12px 3px 0 0;
}

.grand_total_900 {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #f16d7f;
}

.streak_button_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 43px 0;
}

.button_checkout_wrap {
  border-top: 1px solid #e2e2e2;
  padding-top: 17px;
}

.button_checkout {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  background: #f16d7f;
  padding: 15px 41px;
  border: 1px solid #f16d7f;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.button_checkout:hover {
  background-color: #ffffff;
  color: #4a4a4a;
  border: 1px solid #4a4a4a;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/* Страница Регистрации на сайте */
/* Страница Регистрации на сайте */
.inner_wrap_registracion {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .inner_wrap_registracion {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.registracion {
  background-color: #ffffff;
}

.registration_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 128px;
  padding: 64px 0 96px;
}

@media (max-width: 1180px) {
  .registration_wrap {
    gap: 22px;
    padding: 40px 0 96px;
  }
}

@media (max-width: 768px) {
  .registration_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
  }
}

.registration_points {
  width: 360px;
}

.registration_input_point_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.registracion_heading {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.input_point {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  border: 1px solid #a4a4a4;
  padding: 13px 0 16px 17px;
}

.input_point::-webkit-input-placeholder {
  color: #b1b1b1;
}

.input_point:-ms-input-placeholder {
  color: #b1b1b1;
}

.input_point::-ms-input-placeholder {
  color: #b1b1b1;
}

.input_point::placeholder {
  color: #b1b1b1;
}

.registracion_p {
  padding: 15px 0 39px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #b1b1b1;
}

.radio_points {
  padding: 31px 0 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.radio_point {
  width: 17px;
  height: 17px;
  border: 1px solid #a4a4a4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.radio_point_name {
  padding: 0 20px 0 10px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  text-align: center;
}

.registracion_button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  padding: 16px 29px;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  fill: #ffffff;
  background: #f16d7f;
  padding: 15px 41px;
  border: 1px solid #f16d7f;
  -webkit-transition-property: background-color, -webkit-transform;
  transition-property: background-color, -webkit-transform;
  transition-property: background-color, transform;
  transition-property: background-color, transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

.registracion_button:hover {
  background-color: #ffffff;
  color: #4a4a4a;
  fill: #4a4a4a;
  border: 1px solid #4a4a4a;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.marketing_registration {
  width: 652px;
}

@media (max-width: 1180px) {
  .marketing_registration {
    width: 354px;
  }
}

.marketing_registration_header {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.marketing_registration_header_p {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding: 22px 0;
}

@media (max-width: 1180px) {
  .marketing_registration_header {
    font-size: 16px;
    line-height: 19px;
  }
  .marketing_registration_header_p {
    font-size: 16px;
    line-height: 19px;
    padding: 32px 0 22px;
  }
}

.loyalty_items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.loyalty_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 23px;
}

.loyalty_item_content {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

@media (max-width: 1180px) {
  .loyalty_item_content {
    font-size: 16px;
    line-height: 26px;
  }
}
/*# sourceMappingURL=style.css.map */