// переменные (свойсво, применяемое к элементам)
$main_color: #f16d7f;

// примеси (группа свойств, которые применяются к элементам)
@mixin list() {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Общая часть для всех блоков */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.hidden {
    width: 1px;
    height: 1px;
    position: absolute;
    left: -99999px;
    margin: -1px;
}

/* Главная страница сайта */
/* Шапка и меню сайта */

@import "blocks/header";

/* Промо-блок главной страницы */

@import "blocks/promo";

/* Раздел Категорий товаров */

@import "blocks/categories";

/* Раздел Каталога товаров_Главная */

@import "blocks/products_index";

/* Раздел сайта Особенности и Разное */

@import "blocks/features";

/* Раздел сайта обратная связь */

@import "blocks/feedback";

/* Раздел подвал сайта */

@import "blocks/footer";

/* Страница каталога товаров */

/* Раздел страницы_Каталога товаров */

@import "blocks/catalog_products";

/* Раздел страницы_Товаров */

@import "blocks/product";
