/* Страница Оформления Покупок */

.inner_wrap_cart {
    padding: 60px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: $phone_breakpoint) {
        padding: 50px 0px 69px 92px;
    }
}

.purchases_wrap {
    padding: 96px 0 128px;
    display: flex;
    justify-content: space-between;
    @media (max-width: $tablet_breakpoint) {
        flex-direction: column;
        padding: 59px 0 128px;
        gap: 64px;
    }
    @media (max-width: $phone_breakpoint) {
        padding: 39px 0 96px;
        gap: 48px;
    }
}

.purchases_cards {
    display: flex;
    flex-direction: column;
    gap: 72px;
    @media (max-width: $tablet_breakpoint) {
        gap: 62px;
    }
    @media (max-width: $phone_breakpoint) {
        gap: 30px;
    }
}

.purchases_items {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.purchases_item {
    width: 652px;
    height: 306px;
    display: flex;
    background: #ffffff;
    filter: drop-shadow(17px 19px 24px rgba(119, 43, 43, 0.13));
    @media (max-width: $tablet_breakpoint) {
        width: 734px;
        height: 306px;
    }
    @media (max-width: $phone_breakpoint) {
        width: 358px;
        height: 188px;
    }
}

.purchases_item_img {
    width: 262px;
    height: 306px;
    @media (max-width: $phone_breakpoint) {
        width: 144px;
        height: 188px;
    }
}

.description_item {
    padding: 22px 57px 62px 31px;
    @media (max-width: $phone_breakpoint) {
        padding: 13px 50px 38px 17px;
    }
}

.description_item_name {
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #222222;
    padding-bottom: 42px;
    @media (max-width: $phone_breakpoint) {
        padding-bottom: 26px;
        font-size: 16px;
        line-height: 19px;
    }
}

.description_item_content {
    font-weight: normal;
    font-size: 22px;
    line-height: 28px;
    color: #575757;
    .price_300 {
        color: #ef5b70;
    }
    .quantity_2 {
        font-size: 18px;
        line-height: 22px;
        color: #656565;
        border: 1px solid #eaeaea;
        padding: 1px 16px;
        margin-left: 24px;
        @media (max-width: $phone_breakpoint) {
            font-size: 10px;
            line-height: 12px;
            padding: 1px 9px;
            margin-left: 15px;
        }
    }
    @media (max-width: $phone_breakpoint) {
        font-size: 14px;
        line-height: 17px;
    }
}

.close_icon_wrap {
    fill: #575757;
    border-radius: 0px;
    padding: 28px 22px 0 57px;
    & :hover {
        fill: #ef5b70;
    }
    @media (max-width: $tablet_breakpoint) {
        padding: 28px 22px 0 137px;
    }
    @media (max-width: $phone_breakpoint) {
        padding: 17px 12px 0 0px;
    }
}

.close_icon {
    width: 18px;
    height: 18px;
    @media (max-width: $phone_breakpoint) {
        width: 10px;
        height: 10px;
    }
}

.purchases_button {
    display: flex;
    justify-content: space-between;
    @media (max-width: $tablet_breakpoint) {
        justify-content: center;
        gap: 48px;
    }
    @media (max-width: $phone_breakpoint) {
        gap: 9px;
    }
}

.press_button {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    padding: 17px 40px;
    background: #ffffff;
    border: 1px solid #a4a4a4;
    transition-property: background-color /*, transform*/;
    transition-duration: 0.5s;
    &:hover {
        background: #ef5b70;
        border: 1px solid $main_color;
        color: #ffffff;
        // transform: rotateX(360deg); - Поворот кнопки вокруг своей горизонтальной оси
        animation: bounce 0.7s infinite alternate; /* - Пример анимации*/
    }
    @keyframes bounce {
        0% {
            transform: translateY(0px);
        }
        50% {
            transform: translateY(10px);
        }
        100% {
            transform: translateY(-10px);
        }
    }
    @media (max-width: $phone_breakpoint) {
        font-size: 12px;
        line-height: 14px;
        padding: 9px 18px;
    }
}

.checkout {
    width: 360px;
    @media (max-width: $tablet_breakpoint) {
        display: flex;
        gap: 15px;
    }
    @media (max-width: $phone_breakpoint) {
        flex-direction: column;
        gap: 0;
    }
}

.shipping_adress_wrap {
    display: flex;
    flex-direction: column;
    padding: 17px 0 57px;
    @media (max-width: $tablet_breakpoint) {
        padding: 0;
    }
}

.shipping_adress_name {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    padding-bottom: 20px;
}

.shipping_adress {
    width: 360px;
    margin-bottom: 20px;
    padding: 12px 0 12px 17px;
    font-size: 13px;
    line-height: 16px;
    color: #222222;
    border: 1px solid #a4a4a4;
    &::placeholder {
        color: #222222;
    }
    &_grey {
        width: 360px;
        margin-bottom: 20px;
        padding: 12px 0 12px 17px;
        font-size: 13px;
        line-height: 16px;
        color: #222222;
        border: 1px solid #a4a4a4;
        &::placeholder {
            color: #b1b1b1;
        }
    }
}

.button_getaquote {
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4a4a4a;
    background: #ffffff;
    border: 1px solid #a4a4a4;
    padding: 11px 15px;
    margin-top: 4px;
    transition-property: background-color, transform;
    transition-duration: 0.5s;
    &:hover {
        background-color: #ef5b70;
        border: 1px solid $main_color;
        color: #ffffff;
        transform: scale(1.25);
    }
}

.checkout_wrap {
    min-width: 360px;
    height: 214px;
    background: #f5f3f3;
    @media (max-width: $tablet_breakpoint) {
        margin-top: 38px;
    }
    @media (max-width: $phone_breakpoint) {
        margin-top: 48px;
    }
}

.total_price_name {
    padding: 39px 34px 21px 0px;
}

.sub_total {
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    color: #4a4a4a;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.grand_total {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    &_900 {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        color: #f16d7f;
    }
    display: flex;
    justify-content: flex-end;
    gap: 25px;
    padding: 12px 3px 0 0;
}

.streak_button_wrap {
    display: flex;
    justify-content: center;
    padding: 0 0 43px 0;
}

.button_checkout_wrap {
    border-top: 1px solid #e2e2e2;
    padding-top: 17px;
}

.button_checkout {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    background: $main_color;
    padding: 15px 41px;
    border: 1px solid $main_color;
    transition-property: background-color, transform;
    transition-duration: 0.5s;
    &:hover {
        background-color: #ffffff;
        color: #4a4a4a;
        border: 1px solid #4a4a4a;
        transform: scale(1.1);
    }
}
