.footer {
    height: 79px;
    background-color: #222222;
    color: #fff;
}

.footer_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.p_footer {
    font-size: 16px;
    line-height: 19px;
    color: #fbfbfb;
    padding-left: 5px;
}

.icons {
    display: flex;
    list-style-type: none;
    padding: 24px 0 23px;
    gap: 7px;
}

.social_link {
    font-size: 20px;
    background-color: white;
    color: #000000;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    transition-duration: 1s;
    &:hover {
        background-color: $main_color;
        color: white;
        transform: rotate(360deg);
    }
}
