.header {
    background-color: #222222;
    min-height: 75px;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-col-1 {
    display: flex;
    justify-content: space-between;
    @include list();
    // list-style-type: none;
    width: 111px;
    margin-top: 18px;
    align-items: center;
}

.brand_ico {
    transition-property: transform;
    transition-duration: 1s;
    &:hover {
        transform: rotateY(360deg);
    }
}

.header-col-2 {
    display: flex;
    justify-content: space-between;
    @include list();
    // list-style-type: none;
    width: 168px;
    margin-top: 18px;
    align-items: center;
}

.header_icon_svg {
    fill: #e8e8e8; // fill - изменение цвета в коде svg-картинки
    transition-property: fill, transform;
    transition-duration: 0.2s;
    &:hover {
        fill: $main_color;
        transform: scale(1.1);
    }
}

.cart {
    position: relative;
    margin-right: 10px;
    &_number {
        position: absolute;
        top: -23px;
        right: -10px;
        width: 19px;
        height: 19px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: normal;
        font-size: 12px;
        line-height: 14px;
        color: #ffffff;
        background-color: $main-color;
    }
}
