.promo {
    min-height: 764px;
    background-color: #f1e4e6;
}

.promo_img {
    background-image: url("../img/section-promo/promo_img.png");
    margin-left: -225px;
    height: 764px;
    background-repeat: no-repeat;
}

.promo_wrap {
    display: flex;
    justify-content: flex-end;
}

.promo_name {
    margin-top: 290px;
    margin-left: 64px;
    margin-right: 101px;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
    border-left: 12px solid $main_color;
    padding-left: 16px;
    &_bold {
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
    }
    &_pink {
        color: $main_color;
    }
}
