/* Промо-блок главной страницы */

.promo {
    height: 764px;
    background-color: #f1e4e6;
    @media (max-width: $tablet_breakpoint) {
        height: 368px;
    }
}

.promo_img {
    background-image: url("../img/section-promo/promo_img.png");
    height: 764px;
    margin-left: -225px;
    background-repeat: no-repeat;
    @media (max-width: $tablet_breakpoint) {
        height: 368px;
        margin-left: 0px;
        background-size: contain;
    }
    @media (max-width: $phone_breakpoint) {
        background-image: none;
        height: 363px;
        margin-left: 0px;
        background-size: contain;
    }
}

.promo_wrap {
    display: flex;
    justify-content: flex-end;
    @media (max-width: $phone_breakpoint) {
        justify-content: center;
        padding: 148px 0;
    }
}

.promo_name {
    margin: 290px 101px 0 0;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    color: #222222;
    border-left: 12px solid $main_color;
    padding-left: 16px;
    &_bold {
        font-weight: 900;
        font-size: 48px;
        line-height: 58px;
    }
    &_pink {
        color: $main_color;
    }
    @media (max-width: $tablet_breakpoint) {
        margin: 138px 16px 0 0;
        font-size: 24px;
        line-height: 29px;
        &_bold {
            font-size: 44px;
            line-height: 53px;
        }
    }
    @media (max-width: $phone_breakpoint) {
        margin: 0;
        font-size: 20px;
        line-height: 24px;
        &_bold {
            font-size: 38px;
            line-height: 46px;
        }
    }
}
